<form>


  <div *ngIf="persoana">
    <label for="serie_id">Series: </label>
    <input type="text" id="series_id" value="{{persoana.series}}" readonly>

    <label for="number_id">Number: </label>
    <input type="text" id="number_id" value="{{persoana.number}}"readonly><br>

    <label for="cnp_id">CNP</label>
    <input type="text" id="cnp_id" value=" {{persoana.cnp}}"readonly><br>

    <label for="last_id">Last name: </label>
    <input type="text" id="last_id" value="{{persoana.lastName}}"readonly><br>

    <label for="first_id">First name: </label>
    <input type="text" id="first_id" value="{{persoana.firstName}}"readonly><br>

    <label for="nationality_id">Nationality: </label>
    <input type="text" id="nationality_id" value="{{persoana.nationality}}"readonly><br>

    <label for="birth_id">Birth place: </label>
    <input type="text" id="birth_id" value="{{persoana.birth}}"readonly><br>

    <label for="adress_id">Adress: </label>
    <input type="text" id="adress_id" value="{{persoana.adress}}" size="50"readonly><br>

    <label for="issued_id">Issued by: </label>
    <input type="text" id="issued_id" value="{{persoana.issued}}"readonly><br>

    <label for="valid_id">Valability: </label>
    <input type="date" id="valid_id" value="{{persoana.valid1}}"readonly>-
    <input type="date"  value="{{persoana.valid2}}"readonly><br>

  </div>
</form>

<a routerLink="../../list">Inapoi la lista</a>